In [1]:
import pandas as pd

In [2]:
data = {'nome': ['fulanoA de tal', 'fulanoB de tal', 'fulanoC de mal'], 'idade': [15, 20, 12]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

             nome  idade
0  fulanoA de tal     15
1  fulanoB de tal     20
2  fulanoC de mal     12

In [5]:
spark_df = spark.createDataFrame(df)

In [6]:
spark_df.show()

+--------------+-----+
|          nome|idade|
+--------------+-----+
|fulanoA de tal|   15|
|fulanoB de tal|   20|
|fulanoC de mal|   12|
+--------------+-----+

### Comparação de tempo para cálculo da média de idade

In [7]:
%%time
df['idade'].mean()

CPU times: user 176 µs, sys: 92 µs, total: 268 µs
Wall time: 273 µs

15.666666666666666

In [8]:
%%time
spark_df.select('idade').groupBy().mean().collect()[0][0]

CPU times: user 7.07 ms, sys: 35 µs, total: 7.11 ms
Wall time: 330 ms

15.666666666666666