# Execício Regressão linear

- Treine uma Regressão linear usando a biblioteca sklearn e o dataset day.csv
- Calcule os erros utilizando MSE, MAE e R²
- Com base nesse resultado, responda: O modelo está bem acurado? 
- Responda: Qual variável contribui mais para esse modelo? E qual contribui menos?
- Retire a variável que contribui menos e treine novamente a regressão. O modelo ficou melhor?

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
df = pd.read_csv('day.csv')

- season : estações (1:primavera, 2:verão, 3:outono, 4:inverno)
- yr : ano (0: 2011, 1:2012)
- mnth : mês ( 1 to 12)
- hr : hora (0 to 23)
- holiday : feriado
- weekday : dia da semana
- workingday : dia útil
- cnt : contagem de bicicletas alugadas no dia (desfecho)

In [3]:
df.head()

   season  yr  mnth  holiday  weekday  workingday   cnt
0       1   0     1        0        6           0   985
1       1   0     1        0        0           0   801
2       1   0     1        0        1           1  1349
3       1   0     1        0        2           1  1562
4       1   0     1        0        3           1  1600

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
season        731 non-null int64
yr            731 non-null int64
mnth          731 non-null int64
holiday       731 non-null int64
weekday       731 non-null int64
workingday    731 non-null int64
cnt           731 non-null int64
dtypes: int64(7)
memory usage: 40.1 KB

In [5]:
X_treino, X_teste, y_treino, y_teste = train_test_split(df.drop(columns='cnt'), df['cnt'], test_size=0.3)

In [6]:
lr = LinearRegression()
lr.fit(X_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
predito = lr.predict(X_teste)

In [8]:
predito[:5]

array([2344.37994089, 5552.04551956, 3069.24158597, 6221.11907543,
       6651.03534274])

In [9]:
print('R²: ', lr.score(X_teste, y_teste))

R²:  0.50751691531315

In [10]:
print('MSE: ', mean_squared_error(y_teste, predito))

MSE:  1738789.1667719518

In [11]:
print('MAE: ', mean_absolute_error(y_teste, predito))

MAE:  1095.0153055355827

In [12]:
lr.coef_

array([ 855.60601825, 2248.63014859,  -61.82601379, -815.67116546,
         54.7336682 ,  108.41291539])

In [13]:
for i,coef in enumerate(lr.coef_):
    print(df.columns[i],' : ', coef)

season  :  855.6060182490698
yr  :  2248.6301485913264
mnth  :  -61.82601378972231
holiday  :  -815.6711654631983
weekday  :  54.73366820182173
workingday  :  108.41291538734858

In [14]:
lr.intercept_

1449.2793666335833

In [15]:
X_treino, X_teste, y_treino, y_teste = train_test_split(df.drop(columns=['cnt','weekday']), df['cnt'], test_size=0.3)

In [16]:
lr = LinearRegression()
lr.fit(X_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
predito = lr.predict(X_teste)

In [18]:
print('R²: ', lr.score(X_teste, y_teste))

R²:  0.5287166294031452

In [19]:
print('MSE: ', mean_squared_error(y_teste, predito))

MSE:  1866548.107287827

In [20]:
print('MAE: ', mean_absolute_error(y_teste, predito))

MAE:  1125.6664714291146

In [21]:
for i,coef in enumerate(lr.coef_):
    print(df.columns[i],' : ', coef)

season  :  907.8131080507219
yr  :  2168.494289658153
mnth  :  -87.9001222832203
holiday  :  -891.0322296982831
weekday  :  -22.95639621269676